<div class="text-center">
    <h1>app-routing.module.ts File</h1>
</div>
<h2>Routing App</h2>
<div>
    <ol>
        <li>
            In the terminal (in the app folder) create the components you want to route to using the following CLI command :
            <br> ng g c &lt; Compnent name &gt; -it -is
            <br> g = genertae
            <br> c = component 
            <br> it = inline template
            <br> is = inline styles 
        </li>
        <li>
            After we need to configure the routes
            <br> in the <b>app-routing,module.ts</b> we have the line :
            <br><b class="tb">const routes: Routes = [];</b>
            <br> Routes is a constant which is strognly typed as Routes from the router packages and this will define all the routes of the application and each route is nothing but an object which contians a path within the url and the component to be rendered when we navigate to the correpsonding path
            <br> <b class="tb">const routes: Routes = [
                <br><b class="dbltb">{{ '{' }}path : '', redirectTo : '/architecture', pathMatch : 'full'{{ '}' }},</b>
                <br><b class="dbltb">{{ '{' }}path : 'architecture' , component : ArchitectureComponent{{ '}' }},</b>
                <br><b class="dbltb">{{ '{' }}path : 'employeeList' , component : employeeListComponent{{ '}' }}</b>
                <br><b class="dbltb">{{ '{' }}path : 'employeeList/:id' , component : employeeDetailComponent{{ '}' }}</b>
                <br><a class="dbltb">];</a></b>
            <br> The first object represents the 'home' page when you go on <b>www.AngularBasics.com</b> where the path is empty go to the site it will redirect to the <b>www.AngularBasics.com/architecture</b> and display this architecture page (which is the second object)
            <br> The third object represents a page in the application where if you go to <b>www.AngularBasics.com/employeeList</b> it will display the employeeListComponent
            <br> The fourth object represents a page in the application where if you go to <b>www.AngularBasics.com/employeeList/:id</b> it will display the employeeDetailComponent of a specific employee
            <br><span class="tb">The :id represents a placeholder parameter which will be passed into the component</span>
            <br> in the app-routing.module.ts you can make an array of all the routing components export it and then import it in the app.module
            <br> The directive <b>router-outlet></b> which is avaible from the router prackage and marks where the router displays a view
            <br> In the app.component.html base html file it contains the tags: 
            <br>  &lt;router-outlet&gt;&lt;/router-outlet&gt; which will display the coresponding component when a user requests a specific url
            <br> In the index.html it contians the tags:
            <br>  &lt;base href="/" &gt; which represents the base of the application and where the other tags are relative to
        </li>
    </ol>
</div>
<br>
<div class="d-flex justify-content-center">
    <div>
        import {{ '{' }} NgModule {{ '}' }} from '@angular/core';<br>
        import {{ '{' }}  Routes, RouterModule {{ '}' }} from '@angular/router';<br>
        import {{ '{' }}  ArchitectureComponent {{ '}' }} from './architecture/architecture.component'<br>
        import {{ '{' }}  InterpolationComponent {{ '}' }} from './interpolation/interpolation.component'<br>
        import {{ '{' }}  MakeAPipeComponent {{ '}' }} from './make-a-pipe/make-a-pipe.component'<br>
        const routes: Routes = [<br>
        <span class="tb">{{ '{' }}path : '', redirectTo : '/architecture', pathMatch : 'full'{{ '}' }},<br></span> 
        <span class="tb">{{ '{' }}path : 'architecture' , component : ArchitectureComponent{{ '}' }}, <br></span>
        <span class="tb">{{ '{' }}path : 'appmodule' , component : AtAppModuleComponent{{ '}' }}, <br></span>
        <span class="tb">{{ '{' }}path : 'interpolation' , component : InterpolationComponent{{ '}' }},<br></span>
        <span class="tb">{{ '{' }}path : 'pipes' , component : MakeAPipeComponent{{ '}' }}<br></span>
        ];<br>
        <br>
        @NgModule({{ '{' }}<br>
        <span class="tb">imports: [RouterModule.forRoot(routes)],<br></span>
        <span class="tb">exports: [RouterModule]<br></span>
        {{ '}' }})<br>
        export class AppRoutingModule {{ '{' }} {{ '}' }}
    </div>
</div>