<h1>angularJS Basics</h1>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <h4>module</h4>
            <h4>services</h4>
            <h4>components</h4>
            <h4>providers</h4>
            <h4>filter</h4>
            <h4>binding</h4>
            <h4>proto</h4>
            <h4>proto inheritance</h4>
            <h4>$scope</h4>
            <h6>$scope inheritance</h6>
            <h4>Isolate scope</h4>
            <h4>$disgest</h4>
            <h4>$apply</h4>
        </div>
    </div>
</div>